DEBUG=True
LOCAL=False
SILK=False
MODE=DEV

API=http://localhost:8000/api/v1/
PROJECT_NAME=Superapp

SECRET_KEY='django-insecure-*yotn9=&ej2&=hz_99(+-h61mk12^x0a_b&f$#&!q3xei!_-mp'
DATABASE_URL=postgres://postgres:root@database:5432/tau_db
ALLOWED_HOSTS='localhost 127.0.0.1 0.0.0.0 192.168.0.3 tau.defaul7.net https://tau.defaul7.net [::1]'
CURRENT_SITE=http://localhost:8000
ACTIVATE_URL=http://localhost:8000/api/v1/

EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=587

POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=tau_db
POSTGRES_HOST=database
POSTGRES_PORT=5432

USE_MINIO=True
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=photos
MINIO_ENDPOINT=http://localhost:9000

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0